<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-exmaple:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mvc-exmaple-0.1.war">
      <element id="artifact" artifact-name="spring-mvc-exmaple:war exploded" />
    </root>
  </artifact>
</component>